.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 500px;
}
.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    border: 1px solid #0A6A5F;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    background-color: #0A6A5F;
}
.form form label{
    color: white;
    font-size: 18px;
    text-align: center;

}
.form form input{
    padding: 10px;
    width: 95%;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    background-color: #7ca3a1;

}
.form form button{
    margin: 0 auto;
    border: none;
    padding: 7px;
    background-color: #45a197;
    color: white;
    font-size: 20px;
    width: 50%;
    cursor: pointer;
    border-radius: 6px;
}
.form form button:hover{
    background-color: #67b6ad;
}
.register{
    padding: 15px;
}
.register a{
    text-decoration: none;
    font-size: 20px;
}
.register a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.info h2{
    color: white;
}
.info p{
    color: #ccc;
    font-size: 17px;
    padding-top: 10px;
}
.information{
    display: flex;
    gap: 20px;
    padding-top: 10px;
}
.field{
    display: flex;
    flex-direction: column;
    
}

hr{
    width: 100%;
    margin-top: 30px;
}
.register-div{
    padding-top: 20px;
}
.register-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#error{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
#error li{
    color: rgb(128, 7, 61);
    font-size: 18px;
}
#success{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#success li{
    color: rgb(13, 184, 13);
    font-size: 18px;
}